main{

    margin-top: 55px;
    width: 100%;
    height:100vh;
    display: flex;
    justify-content: center;
    text-align:center;
    background-color: rgb(221, 227, 217);
    

}
.main_div
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 1rem;
    
    background-color: rgb(211, 197, 197);
    width: 80%;
    height: auto;
    
    
   
   
   
    
}
.pro1 ,.pro2 ,.pro3 ,.pro4, h2
{
    color: rgb(50, 9, 94);
    font-family: 'Courier New', Courier, monospace;
    
}

.pro1 ,.pro2 ,.pro3 ,.pro4
{
    background-color: rgb(249, 240, 240);
    width: 97%;
    height: 100%;
    color: red;
    margin-left: .5rem;
    margin-top: 0.5rem;
    
   
   
}
.details
{
 font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
letter-spacing: 1.2px;
font-size: 1.1rem;



}
.pro3,.pro4
{
    margin-bottom: 5rem;
}

.link
{
    display: flex;
    justify-content: space-around;

    align-items: center;
    border: 1px solid green;
    background-color: rgb(101, 98, 190);
   

}
.link a
{
    text-decoration: none;
    color: white;

}
.link a:hover
{
    color: rgb(133, 196, 38);
}
.link>a
{
    margin-left: 1rem;
}
@media (max-width:935px)
{
    .main_div
    {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 100%;
        height: 100%;
    }
}
@media (max-width:535px)
{
    .main_div
    {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 100%;
        height: 100%;
    }
}
@media (max-width:535px)
{
    .main_div
    {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 100%;
        height: 100%;
    }
}
@media (max-width:335px)
{
    .main_div
    {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 100%;
        height: 100%;
    }
}
