.main_skill
{
   
   
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(110, 122, 171);
    color: white;
   
}

.sub_skill
{
    width: 80%;
    height: 100vh;
    background-color: rgb(162, 175, 218);
    color: rgb(14, 1, 1);
    margin-right: -1px;
    margin-bottom: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 1rem;

}


.left_skill
{
    
    margin-right: 1rem;
    width: 45%;
    height: 50%;
    margin-left: 3rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 2px;
    line-height: 1.6rem;
    font-size:1.12rem;
    /* color: white; */
    
   
   
}

.right_skill
{
    /* width: auto; */
    height: 50%;
    margin-left: 1rem;
    margin-right: 3rem;
    
}
.progress_bar
{
    width: 100% !important;
    display: grid;
    grid-template-rows: repeat(6,1fr);
    row-gap: 1rem;
    font-size: large;

}
.progress_bar p
{

    font-weight: 700;
}

progress
{
    width: 100% !important;
}
.percentage
{
    margin-left: 20rem;
}



@media (max-width:735px)
{
    .sub_skill
    {
        display: grid;
        grid-template-rows: repeat(2,1fr);
        height: 100%;
        width: 500px !important;
        background-color: rgb(237, 185, 185);
        margin-left: 5rem;
        color: white;


    }
    .right_skill{
        margin-left: 3rem;
        margin-bottom: 10rem;

    }
    .left_skill
    {
        width:90%;
        margin-bottom: 2rem;
    }
    
}




@media (max-width:535px)
{
    .sub_skill
    {
        display: grid;
        grid-template-rows: repeat(2,1fr);
        height: 100%;
        width: 500px !important;
        margin-left: 0rem;
        
        
    }
    .right_skill{
        margin-left: 3rem;
        margin-bottom: 10rem;
        /* width: 100%; */
    }
    .left_skill
    {
        /* width:100%; */
    }
}
@media (max-width:335px)
{
    .sub_skill
    {
        display: grid;
        grid-template-rows: repeat(2,1fr);
        height: 100%;
     
        /* width: 100% !important; */
        background-color: rgb(237, 185, 185);
        margin-left: 5rem;
        margin-right:0rem;

        color: white;


    }
    .right_skill{
        margin-left: 3rem;
        margin-bottom: 10rem;
    }
    /* .left_skill
    {
        width:90%;
    } */
    
}

@media (max-width:300px)
{
    .sub_skill
    {
        width: 100px;
        margin-left: 0rem;
        margin-right:-2rem;
        background-color: #fff;
        color: rgb(14, 13, 13);
    }
}
