*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container
{
  
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(214, 188, 188);
    color: white;
   
    
}

.home
{
    width: 80%;
    height: 90vh;
    background-color: rgb(49, 56, 55);
    color: rgb(170, 152, 152);
    margin-right: -1px;
    margin-bottom: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 1rem;
   

}

.left
{
    margin-right: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.my_pic
{
    border-radius: 20%;
    margin-left: 1rem;
   
    
}

.right
{
    margin-left: 3rem;
    display: grid;
    justify-items: center;
    margin-top: 3rem;
    margin-right: 3rem;

    


}
.bio
{
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    font-family:'Courier New', Courier, monospace;
}
.text
{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 2px;
    line-height: 1.6rem;
    font-size:1.12rem;
}

.horizontal_line
{
    width:100%;
    height:.2rem;
    background-color:black;
    margin-top:1rem;
    margin-bottom:1rem;
}
.cv_btn
{
    padding: .3rem;
    border-radius: 10px;
    outline: none;
    background-color: rgb(228, 224, 99);
    color: rgb(138, 85, 85);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 2rem;
}
.cv_btn:hover
{
    background-color:black;
    color: white;
}

@media (max-width:1035px)
{
.container{
    width: 100% !important;
}
    .home
    {
        /* margin-top: 5rem !important; */
        background-color: black;
        color: white;
        display: grid;
        word-wrap: break-word;
        flex-wrap: wrap;
        width: 100%;
        height: 100% !important; 
        margin: 0;
        padding: 0;
        overflow-x: scroll;
        overflow-y: scroll;
        margin-bottom: 5rem;
        border-radius: 0;
        
        

    }
    .my_pic
    {
        width: 300px;
        height: 350px;
        margin-left: 1.7rem;
    }
    .left
    {
      
        margin-top: 5rem;
       
    }
    .right
    {
        display: grid;
        row-gap: 2rem;
        align-items: center;
        justify-items: center;
    }
    .horizontal_line
    {
        margin-top: 0px;
        margin-bottom: 0px;
        background-color: #fff;
    }
}
@media (max-width:935px)
{
.container{
    width: 100% !important;
}
    .home
    {
        /* margin-top: 5rem !important; */
        background-color: black;
        color: white;
        display: grid;
        word-wrap: break-word;
        flex-wrap: wrap;
        width: 100%;
        height: 100% !important; 
        margin: 0;
        padding: 0;
        overflow-x: scroll;
        overflow-y: scroll;
        margin-bottom: 5rem;
        border-radius: 0;
        
        

    }
    .my_pic
    {
        width: 300px;
        height: 350px;
        margin-left: 1.7rem;
    }
    .left
    {
      
        margin-top: 5rem;
       
    }
    .right
    {
        display: grid;
        row-gap: 2rem;
        align-items: center;
        justify-items: center;
    }
    .horizontal_line
    {
        margin-top: 0px;
        margin-bottom: 0px;
        background-color: #fff;
    }
}
@media (max-width:735px)
{

    .home
    {
        /* margin-top: 15rem !important; */
        background-color: black;
        color: white;
        display: grid;
        word-wrap: break-word;
        flex-wrap: wrap;
        width: 100%;
        height: 100% !important; 
        margin: 0;
        padding: 0;
        overflow-x: scroll;
        overflow-y: scroll;
        margin-bottom: 5rem;
        border-radius: 0;
        
        

    }
    .my_pic
    {
        width: 300px;
        height: 350px;
        margin-left: 1.7rem;
    }
    .left
    {
      
        margin-top: 5rem;
       
    }
    .right
    {
        display: grid;
        row-gap: 2rem;
        align-items: center;
        justify-items: center;
    }
    .horizontal_line
    {
        margin-top: 0px;
        margin-bottom: 0px;
        background-color: #fff;
    }
}
@media (max-width:535px)
{

    .home
    {
        /* margin-top: 15rem !important; */
        background-color: black;
        color: white;
        display: grid;
        word-wrap: break-word;
        flex-wrap: wrap;
        width: 100%;
        height: 100% !important; 
        margin: 0;
        padding: 0;
        overflow-x: scroll;
        overflow-y: scroll;
        margin-bottom: 5rem;
        border-radius: 0;
        
        

    }
    .my_pic
    {
        width: 250px;
        height: 300px;
        margin-left: 1.7rem;
    }
    .left
    {
      
        margin-top: 5rem;
       
    }
    .right
    {
        display: grid;
        row-gap: 2rem;
        align-items: center;
        justify-items: center;
    }
    .horizontal_line
    {
        margin-top: 0px;
        margin-bottom: 0px;
        background-color: #fff;
    }
}
@media (max-width:335px)
{

    .home
    {
        /* margin-top: 15rem !important; */
        background-color: black;
        color: white;
        display: grid;
        word-wrap: break-word;
        flex-wrap: wrap;
        width: 100%;
        height: 100% !important; 
        margin: 0;
        padding: 0;
        overflow-x: scroll;
        overflow-y: scroll;
        margin-bottom: 5rem;
        border-radius: 0;
        
        

    }
    .my_pic
    {
        width: 200px;
        height: 250px;
        margin-left: 1.7rem;
    }
    .left
    {
      
        margin-top: 5rem;
       
    }
    .right
    {
        display: grid;
        row-gap: 2rem;
        align-items: center;
        justify-items: center;
    }
    .horizontal_line
    {
        margin-top: 0px;
        margin-bottom: 0px;
        background-color: #fff;
    }
}

@media (min-width:290px)
{
    .strong
    {
        color: green;
    }
}