.h1
{
    position: fixed;
    bottom: 0;
    width: 100vw !important;
    height: 5rem;
    background-color: black;
    color: white;
    text-align: center;
}

@media (max-width:735px)
{


}
@media (max-width:535px)
{
    .h1
    {
        height: 1rem;
    }
}
@media (max-width:335px)
{
    .h1
    {
        height: 1rem;
        bottom: 0;
        position: fixed;
        width: 100vw !important;
    }
}
*
{
    margin: 0;padding: 0;box-sizing: border-box;
}

footer
{
    background-color: black;
    color: white;
    width: auto;
    height: 16vh;
    display:grid;
    grid-template-columns: 250px 400px;
    justify-content: center;
    align-items: center;
}
.follow
{
    border-left: 3px solid lightblue;
}
.follow h4
{
    margin-left: 20px;
}
.follow i
{
    margin-left: 20px;
    margin-top: 20px;
    cursor: pointer;
}
.follow a i
{
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
}
.follow i:hover
{
color: rgb(134, 86, 86);
}

/* responsive design  */
@media only screen and (max-width: 770px)
{
  footer
  {
      display: flex;
      flex-wrap: wrap;
      height: auto;

  }  
  .follow
{
    margin-top: 20px;
    border-left: none;
}
  
}

@media (min-width: 935px)
{
    footer{
        margin-top: 9rem;
        bottom: 0;
        width: 100%;
    }
}
@media (max-width: 935px)
{
    footer{
        margin-top: 20rem;
        bottom: 0;
        width: 100%;
    }
}
@media (max-width: 535px)
{
    footer{
        margin-top: 0rem;
        bottom: 0;
        width: 100%;
    }
}
@media (max-width: 335px)
{
    footer{
        margin-top: 70rem;
        bottom: 0;
        width: 100%;
    }
}
@media (max-width: 435px)
{
    footer{
        margin-top: 70rem;
        bottom: 0;
        width: 100%;
    }
}


