
.left_skill >h3
{
    color: rgb(20, 15, 73);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.4rem;
}

.left_skill div
{
    display: grid;
    row-gap: 2rem;
}


.right_skill >h3
{
    color: rgb(20, 15, 73);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;

}
.details
{
    display: grid;
    row-gap: 2rem;

}